* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-wrap {
    background-image: url('../src/image/header_bg.png');
    background-attachment: local;
    background-size: cover;
    z-index: -1;
    text-transform: capitalize;
    font-family: 'Major Mono Display', monospace;


}

.blurs {
    backdrop-filter: blur(4px);
    width: 100%;


}

.search-input{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
.search-btn{
    padding-top: 8.5px;
    padding-bottom: 9.5px;
}